body {
    min-height: 100vh;
    background: -webkit-gradient(linear, left bottom, right top, from(#fff), to(#fff));
    background: -webkit-linear-gradient(bottom left, #fff 0%, #fffc 100%);
    background: -moz-linear-gradient(bottom left, #fff 0%, #fff 100%);
    background: -o-linear-gradient(bottom left, #fff 0%, #fff 100%);
    background: linear-gradient(to top right, #fff 0%, #fff 100%);
  }

  .input-form {
    max-width: 680px;
    margin-top: 80px;
    padding: 32px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
  }

  .invalid-checkbox {
    border: #000 solid 1px;
    border-radius: 10px;
    background-color: #fff;
    display: grid;
    flex:row;
    grid-template-columns: 90px 90px 90px ;
  }

  .code1 {
    margin-top: 30px;
  }

  .checkcss {
    margin: 5px;
  }
  .ka-api {
    margin: 5px;
  }
  @font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
